@model IEnumerable<LeaveManagement.Models.LeaveTypeVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Leave Types</h1>
<hr/>

<p>
   @* add a plus sign icon on the button*@
    <a asp-action="Create" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Create New</a>
</p>
<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefaultDays)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.id"><i class="fas fa-pencil-alt" aria-hidden="true"></i> Edit</a>
                <a asp-action="Details" class="btn btn-info" asp-route-id="@item.id"><i class="fa fa-info" aria-hidden="true"></i> Details</a>
                @*confirm invokes a pop up box*@
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.id" onclick="return confirm('Are you sure you want to delete this record?')"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{
<script>

</script>

}